<h2 mat-dialog-title>New Board</h2>
<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="boardForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="createBoard()" [disabled]="boardForm.invalid" mat-raised-button mat-dialog-close color="primary">Add</button>
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>

