<div class="container d-flex justify-content-center mt-5 mb-5">
  <button (click)="openNewBoardDialog()" mat-raised-button color="accent">Add New Board</button>
</div>

<div class="container w-25">
  <mat-card class="d-flex justify-content-between align-items-center mb-2 border" *ngFor="let board of boardService.boards; let i=index" [routerLink]="'/view-board/'+i">
    <mat-card-title class="mb-0">{{board.title}}</mat-card-title>
    <mat-card-actions class="pt-0 pb-2">
      <button mat-icon-button (click)="deleteBoard(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


